var placeSearch, autocomplete;
var address
var directionsService
var directionsDisplay

function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: {lat: -34.397, lng: 150.644}
        });
        directionsService = new google.maps.DirectionsService;
        directionsDisplay = new google.maps.DirectionsRenderer({
          draggable: true,
          map: map,
          panel: document.getElementById('right-panel')
        });
        var geocoder = new google.maps.Geocoder();
        address = document.getElementById('address').value;
        geocodeAddress_center(geocoder, map,address);
        stores=document.getElementsByName('store');
        for(var i=0; i<stores.length;i++){
          geocodeAddress(geocoder,map,stores[i]);
        }
      

      }

function geocodeAddress_center(geocoder, resultsMap,address) {

        if( address == '') return;
        geocoder.geocode({'address': address}, function(results, status) {
          if (status == 'OK') {
            resultsMap.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location
            });
             google.maps.event.addListener(marker, 'mouseover', function () {
               infowindow = new google.maps.InfoWindow({
                        content: '<div><strong>'+address+' </strong></div>',
                    });
             infowindow.open(map, marker);
             if (marker.getAnimation() !== null) {
                 marker.setAnimation(null);
             }

            //si chiude automaticamente dopo 5 seocondi
            setTimeout(function(){
               infowindow.close();
              }, 5000);
            });
          }
        });
      }



function geocodeAddress(geocoder, resultsMap,store) {

        if( store.getAttribute("loc") == '') return;
        geocoder.geocode({'address': store.getAttribute("loc")}, function(results, status) {
          if (status == 'OK') {
            var marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location
            });

        google.maps.event.addListener(marker, 'mouseover', function () {
          infowindow = new google.maps.InfoWindow({
                  content: '<div><strong><a href="/stores/'+store.id+'">'+"link al negozio: "+store.getAttribute("s")+' </a></strong></div><br/>Situato in: '+store.getAttribute("loc"),
                });
                infowindow.open(map, marker);
                if (marker.getAnimation() !== null) {
                  marker.setAnimation(null);
                }

                //si chiude automaticamente dopo 5 seocondi
                setTimeout(function(){
                  infowindow.close();
                }, 5000);
              });
              if(address != ""){
                google.maps.event.addListener(marker, 'click',function(){
                  displayRoute(address,store.getAttribute("loc") , directionsService,
                  directionsDisplay);
                });
              }
          }


        });
      }

function autocomplete(){
    autocomplete = new google.maps.places.Autocomplete(
        (document.getElementById('address')),
            {types: ['geocode']});

}



function displayRoute(origin, destination, service, display) {
        service.route({
          origin: origin,
          destination: destination,
          travelMode: 'DRIVING',
          avoidTolls: true
        }, function(response, status) {
          if (status === 'OK') {
            display.setDirections(response);
          } else {
            alert('Could not display directions due to: ' + status);
          }
        });
      }
