var placeSearch, autocomplete;

var stores;

function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: {lat: -34.397, lng: 150.644}
        });
        var geocoder = new google.maps.Geocoder();

        var address = document.getElementById('address').value;
        //nel frattempo lo centro in address, se è una città almeno la rileva
        //se dovesse essere un negozio lo ricentra
        geocoder.geocode({'address': address}, function(results, status) {
          if (status == 'OK') {
            map.setCenter(results[0].geometry.location);
            map.setZoom(15);
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
        stores = document.getElementsByName('store');
        for(var i=0; i<stores.length;i++){
          geocodeAddress(geocoder,map,stores[i],address);
        }

        autocomplete();



      }

function geocodeAddress(geocoder, resultsMap,store, address) {

        if( address == '') return;
        var infowindow;
        var dot=false;
        geocoder.geocode({'address': store.getAttribute("loc")}, function(results, status) {
          if (status == 'OK') {
            //controllo se il nome è quello che ho cercato, se sì lo centro.
            if(address==store.getAttribute("s")){
              dot=true;
            resultsMap.setCenter(results[0].geometry.location);
            resultsMap.setZoom(15);
            }
            var marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location,

              animation: google.maps.Animation.DROP,
            });
            if(dot){
              marker.setAnimation(google.maps.Animation.BOUNCE);
              dot=false;
            }

            google.maps.event.addListener(marker, 'mouseover', function () {

                    infowindow = new google.maps.InfoWindow({
                        content: '<div><strong>'+'<a href="/stores/'+store.id+'">'+"link al negozio: "+store.getAttribute("s")+'</a>'+' </strong></div>',

                    });

                    infowindow.open(map, marker);
                    if (marker.getAnimation() !== null) {
                        marker.setAnimation(null);
                    }


                });
              google.maps.event.addListener(marker, 'mouseout', function () {

                        infowindow.close();

                    });

          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });



      }

function autocomplete(){
    autocomplete = new google.maps.places.Autocomplete(
        (document.getElementById('address')),
            {types: ['geocode']});

 

}
