var placeSearch, autocomplete;



var dot=false;

function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: {lat: -34.397, lng: 150.644}
        });
        var geocoder = new google.maps.Geocoder();

        var address = document.getElementById('address').value;
        //nel frattempo lo centro in address, se è una città almeno la rileva
        //se dovesse essere un negozio lo ricentra

        var res= document.getElementById("res");
        var stores = document.getElementsByName('store');
        for(var i=0; i<stores.length;i++){

          if(address==stores[i].getAttribute("s")){

            res.innerHTML="Ricerca del negozio riuscita!";
            dot=true;

          }
        }


        if(!dot){
        geocoder.geocode({'address': address}, function(results, status) {
          if (status == 'OK') {
            map.setCenter(results[0].geometry.location);
            map.setZoom(15);
            res.innerHTML="Ricerca in zona riuscita!";

            var markerPos = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location,

              animation: google.maps.Animation.DROP,
            });
            google.maps.event.addListener(markerPos, 'mouseover', function () {

                    infowindow = new google.maps.InfoWindow({
                        content: '<div><strong>'+'Posizione di partenza'+ '</strong></div>',

                    });

                    infowindow.open(map, markerPos);
                    if (marker.getAnimation() !== null) {
                        marker.setAnimation(null);
                    }


                });
              google.maps.event.addListener(markerPos, 'mouseout', function () {

                        infowindow.close();

                    });
          } else {
            res.innerHTML="Ricerca in zona fallita";
          }
        });
      }


        for(var i=0; i<stores.length;i++){
          geocodeAddress(geocoder,map,stores[i],address);
        }

        autocomplete();



      }

function geocodeAddress(geocoder, resultsMap,store, address) {

        if( address == '') return;
        var infowindow;

        geocoder.geocode({'address': store.getAttribute("loc")}, function(results, status) {
          if (status == 'OK') {
            //controllo se il nome è quello che ho cercato, se sì lo centro.

            if(address==store.getAttribute("s")){
              resultsMap.setCenter(results[0].geometry.location);
              resultsMap.setZoom(15);
              marker.setAnimation(google.maps.Animation.BOUNCE);
            }
            var marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location,

              animation: google.maps.Animation.DROP,
            });
            if(dot){
              dot=false;
            }

            google.maps.event.addListener(marker, 'mouseover', function () {

                    infowindow = new google.maps.InfoWindow({
                        content: '<div><strong>'+'<a href="/stores/'+store.id+'">'+"link al negozio: "+store.getAttribute("s")+'</a>'+' </strong></div>',

                    });

                    infowindow.open(map, marker);
                    if (marker.getAnimation() !== null) {
                        marker.setAnimation(null);
                    }
                    
                    //si chiude automaticamente dopo 5 seocondi
                    setTimeout(function(){
                      infowindow.close();
                    }, 5000);

                });


          } else {
            alert('Geocode was not successful for the following reason: ' + status);
            res.innerHTML="Ricerca del negozio fallita!";
          }
        });



      }

function autocomplete(){
    autocomplete = new google.maps.places.Autocomplete(
        (document.getElementById('address')),
            {types: ['geocode']});

 

}
