<%= form_for :report, url: path do |f| %> <!-- ingrandire la text area-->
  <div class="row">
        <div class="input-field col s12">
          <%= f.label :motivation %><br />
          <%= f.text_area :motivation, autofocus: true,id: "motivation", class: "materialize-textarea","datalenght" => 120 %>
        </div>
      </div>

  <div class="actions">
    <%= f.submit "invia" ,class:"waves-effect waves-light btn"%>
  </div>

<% end %>
