<%= form_for :report, url: path do |f| %>
  <div class="field">
    <%= f.label :motivation %><br />
    <%= f.text_area :motivation, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "invia" %>
  </div>

<% end %>
