<h1 > Risultato </h1>
<p id="res"></p>

<div style="width: 100%; height: 700px;">
<div id="map" style="width: 75%; height: 700px; float: left;"></div>

<div style="width: 25%; height: 700px; overflow-y: scroll; float: right;">
  <div id="right-panel">
  </div>
</div>

</div>


<%if @stores.count == 0%>
  <h5>Nessun negozio torvato</h5>
<%end%>

<div id="store-list" style="width: 40%; height:700px; overflow-y: scroll;"%>
<% @stores.each do |store| %>
  <%= render 'stores/store', store: store %>
<%end %>
</div>
<br/>
<script>initMap()</script>
<%= render 'shared/advanced_search' %>
