<h1> Index </h1>

<%= render "shared/search" %>

<div id="map" style="width: 50%; height: 700px;"></div>
 
<%= render 'shared/search' %>

<% @stores.each do |store| %>
  <%= render 'stores/store', store: store %>
<%end %>
<br/><br/>
<%= render 'shared/advanced_search' %>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9DIhdJpFjMX2Kl7W2qf4pjYivfJah8y8&libraries=places&callback=initMap"></script>
