<%= form_tag stores_path, method: :get do %>
  <div class="input-field col s6">
     <i class="material-icons prefix">search</i>
    <%= text_field_tag :location ,params[:location], id:"address",placeholder:"Inserisci una località" %>
  </div>
<% end %>
