<% if @comments!=nil %>
<h4> Commenti: </h4>
<% @comments.each do |comment| %>
  <div id='comment<%=comment.id%>'>
    <%= render 'comments/comment', comment: comment %>
    <div id='reply<%=comment.id%>' >
      <%= link_to 'mostra risposte', replyIndex_store_comment_path(params[:id], comment.id),remote: true%>
    </div>
  </div>
<%end%>

<% end %>
