<% if @comments!=nil %>
<h4> Commenti: </h4></br>
<ul class="collection">
<% @comments.order(:updated_at).reverse.each do |comment| %>
  <div id='comment<%=comment.id%>'>
    <li class="collection-item avatar">
    <%= render 'comments/comment', comment: comment , store: nil%>
    <div id='reply<%=comment.id%>' >
      <%= link_to 'mostra risposte', replyIndex_store_comment_path(params[:id], comment.id),remote: true%>
    </div>
  </li>
  </div>
<%end%>
</ul>

<% end %>
