$("#reply2<%=@comment.comment_id%>").prepend("<li class='collection-item avatar'><div id='comment<%=@comment.id%>'>"+"&nbsp;<%= j render 'comments/comment', comment: @comment, store: nil %><br/><br/>"+"</div></li>");
