afito <br/>
<div id='follow'>
<%if can? :follow, @show %>
<%= button_to 'follow', follow_user_path(params[:id]), remote: true%>
<% end%>

<%if can? :unfollow, @show %>
<%= button_to 'unfollow', unfollow_user_path(params[:id]), remote: true%>
<% end%>
</div>

pagina di <%=@show.name%> <br/>

<%if can? :report, @show%>
<div id= "report">
  <%= button_to "segnala utente" , show_report_user_path(@show.id), method: :get, remote: true%>
</div>
<%end%>
